.filter_btn {
  display: none;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 11px;
  padding: 4px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  height: 55px;
  color: var(--primary_contrast);
  background: var(--primary);
  z-index: 1;
  width: 56px;
  position: fixed;
  left: 0px;
  top: 135px;
  transition: 0.3s all;
}

.header {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 19px;
  position: fixed;
  left: 0;
  top: 0;
  width: 265px;
  z-index: 1001;
  left: -265px;
  transition: 0.3s all;
}

.header * {
  color: var(--primary_contrast);
  margin: 0;
  line-height: 1;
}

.sidebar_top_normal {
  top: 50px;
}

.sidebar_top_scroll {
  top: 65px;
}

.sidebar {
  width: 18em;
  position: fixed;
  overflow-y: auto;
  left: 0px;
  bottom: 0;
  padding-bottom: 50px;
  padding-right: 5px;
  background-color: var(--white);
  transition: 0.3s all;
  box-shadow: 7px 9px 20px -20px black;
  border-right: 1px solid var(--border_color);
}

.sidebar_inner {
  padding: 25px 28px 24px 15px;
}

.category_item {
  margin: 30px 0 0;
  padding-top: 30px;
  border-top: 1px solid var(--border_color);
  padding-bottom: 0;
  border-bottom: 0;
}

.b_left {
  left: 265px;
}

.s_left {
  left: 0px !important;
}

.sidebar label {
  margin-bottom: 1.125rem;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

@media (max-width: 1024px) {
  .sidebar {
    left: -265px;
    width: 265px;
    z-index: 1;
  }
  .filter_btn {
    display: block;
  }
}

@media (max-width: 991px) {
  .sidebar_top_normal, .sidebar_top_scroll {
    top: 63px;
  }
  .sidebar {
    z-index: 1000;
  }
  .header {
    display: flex;
  }
  .sidebar_inner {
    padding-top: 35px;
    padding-left: 7px;
  }
}
