.card {
  min-width: 320px;
  position: absolute;
  right: 0;
  top: 118%;
  min-height: 100px;
  background: #ffffff;
  border: 1px solid var(--border_color);
  border-radius: 5px;
  cursor: default;
  z-index: 9;
}

.card::before {
  background-color: #fff;
  border-left: 1px solid var(--border_color);
  border-top: 1px solid var(--border_color);
  content: "";
  height: 17px;
  position: absolute;
  right: 38px;
  top: -9px;
  transform: rotate(45deg);
  width: 18px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 130px;
  font-size: 18px;
  font-weight: 600;
}

.empty span {
  margin-top: 10px;
}

.card ul {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
  border-bottom: 1px solid var(--border_color);
  list-style: none;
  padding: 10px;
}

.item button {
  border: none;
  background: none;
  color: var(--danger);
}

.item:last-child {
  border: none;
}

.image {
  margin-right: 10px;
}

.content {
  width: 100%;
}

.content p {
  margin-bottom: 0px;
}

.content span {
  font-size: 12px;
  margin-right: 5px;
}

.content b {
  display: block;
}

.total,
.btn_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--border_color);
  font-weight: 600;
}

.total span:last-child {
  color: var(--secondary);
}

.btn_container a,
.btn_container button {
  background-color: var(--primary);
  color: var(--primary_contrast);
  border: 1px solid var(--primary);
  padding: 12px 22px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

.btn_container a:first-child {
  background-color: #f7f7f7;
  color: #393939;
  border: 1px solid var(--border_color);
}

.btn_container a:hover,
.btn_container button:hover {
  background-color: var(--primary_light);
  color: var(--primary_light_contrast);
  border: 1px solid var(--primary_contrast);
}
