.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner::after {
  content: " ";
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 50%;
  border: 6px solid #393939;
  border-color: #393939 transparent #393939 transparent;
  animation: spin 1.5s linear infinite;
}

.spinner::before {
  content: " ";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 50%;
  border: 6px solid #e0e0e0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
